<AuthorizeView>
    <Authorized>
        <span class="px-4"><a href="Identity/Account/Manage">Hallo, @context.User.Identity?.Name!</a></span>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log uit</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <span class="px-4">
        @* <a href="Identity/Account/Register">Registreren</a> *@
        <a href="Identity/Account/Login">Log in</a>
        </span>
    </NotAuthorized>
</AuthorizeView>
